src/main/resources/DAS_Pflege_Spezifikation_V01.4/02_XSD/interface_qs_data/das_interface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns="https://www.das-pflege.de" xmlns:das="https://www.das-pflege.de" targetNamespace="https://www.das-pflege.de" elementFormDefault="qualified" vc:minVersion="1.1" xpathDefaultNamespace="##targetNamespace">
	<xs:include schemaLocation="das_datatypes.xsd"/>
	<xs:include schemaLocation="das_header.xsd"/>
	<xs:include schemaLocation="das_body.xsd"/>
	<xs:element name="root" type="root_type"/>
	<xs:complexType name="root_type">
		<xs:annotation>
			<xs:documentation>Root-Element</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="header_type">
				<xs:annotation>
					<xs:documentation>Umschlagselement für administrative Informationen zur
						Datenlieferung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="body" type="body_type">
				<xs:annotation>
					<xs:documentation>Umschlagselement für einrichtungs- und bewohnerbezogene
						Qualitätssicherungsdaten und zur Kommentierung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="delivery_status" type="delivery_status_type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Umschlagselement für Informationen zur technischen
						Plausibilitätsprüfung und zum globalen Dokumentenstatus</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//NEUEINZUG/@value = 1 and $v//EINZUGSDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D'))) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50057"/>
					<das:rule_text value="Hinweis: Für das Datenfeld 'Ist der Bewohner bzw. die Bewohnerin nach der letzten Ergebniserfassung neu in die Einrichtung eingezogen?' ist [1] = 'ja' angegeben und das Datum im Datenfeld 'Datum des Einzugs (Beginn der vollstationären Versorgung)' liegt mehr als 6 Monate vor dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="EINZUGSDATUM"/>
						<das:field value="NEUEINZUG"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//APOPLEXDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D')) or $v//APOPLEXDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50058"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum des Apoplex' liegt mehr als 6 Monate vor dem aktuellen Stichtag oder nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="APOPLEXDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//FRAKTURDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D')) or $v//FRAKTURDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50059"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum der Fraktur' liegt mehr als 6 Monate vor dem aktuellen Stichtag oder nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="FRAKTURDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//HERZINFARKTDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D')) or $v//HERZINFARKTDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50060"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum des Herzinfarkts' liegt mehr als 6 Monate vor dem aktuellen Stichtag oder nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="HERZINFARKTDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//AMPUTATIONDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D')) or $v//AMPUTATIONDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50061"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum der Amputation' liegt mehr als 6 Monate vor dem aktuellen Stichtag oder nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="AMPUTATIONDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//KHENDEDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D'))) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50062"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum: Ende des Krankenhausaufenthalts (bei mehreren Aufenthalten bitte den Aufenthalt mit der längsten Dauer wählen)' liegt mehr als 6 Monate vor dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="KHENDEDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//DEKUBITUS1ENDEDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50063"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum: Ende Dekubitus 1 (ggf. bis heute)' liegt nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum; Sofern der Dekubitus zum Stichtag noch besteht ist der Stichtag in diesem Fall anzugeben"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="DEKUBITUS1ENDEDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//DEKUBITUS2ENDEDATUM/@value &gt; .//target_date/@value) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50064"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum: Ende Dekubitus 2 (ggf. bis heute)' liegt nach dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum; Sofern der Dekubitus zum Stichtag noch besteht ist der Stichtag in diesem Fall anzugeben"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="DEKUBITUS2ENDEDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//KOERPERGEWICHTDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P183D'))) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="50065"/>
					<das:rule_text value="Hinweis: Das Datum im Datenfeld 'Datum: Dokumentation des Körpergewichts' liegt mehr als 6 Monate vor dem aktuellen Stichtag, d.h. es liegt nicht im aktuellen Erhebungs- bzw. Beobachtungszeitraum"/>
					<das:rule_type value="WARNING"/>
					<das:rule_fields>
						<das:field value="KOERPERGEWICHTDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//EINZUGSDATUM/@value &gt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P14D'))) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="70062"/>
					<das:rule_text value="Das Datum im Datenfeld 'Datum des Einzugs (Beginn der vollstationären Versorgung)' liegt weniger als 14 Tage vor dem aktuellen Stichtag, somit liegt ein Ausschlussgrund für den Bewohner bzw. die Bewohnerin in Bezug auf die aktuelle Erhebung vor"/>
					<das:rule_type value="ERROR"/>
					<das:rule_fields>
						<das:field value="EINZUGSDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//KHENDEDATUM/@value &gt;= .//target_date/@value and days-from-duration(xs:date(.//target_date/@value) - xs:date($v//KHBEGINNDATUM/@value)) &gt; 21) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="70063"/>
					<das:rule_text value="Laut den Datumsangaben zum Krankenhausaufenthalt hält sich der Bewohner bzw. die Bewohnerin seit mindestens 21 Tagen vor dem aktuellen Stichtag nicht mehr in der Einrichtung auf, somit liegt ein Ausschlussgrund für den Bewohner bzw. die Bewohnerin in Bezug auf die aktuelle Erhebung vor"/>
					<das:rule_type value="ERROR"/>
					<das:rule_fields>
						<das:field value="KHBEGINNDATUM"/>
						<das:field value="KHENDEDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data satisfies $v//EINZUGKHENDEDATUM/@value &gt;= .//target_date/@value and days-from-duration(xs:date(.//target_date/@value) - xs:date($v//EINZUGKHBEGINNDATUM/@value)) &gt; 21) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="70064"/>
					<das:rule_text value="Laut den Datumsangaben zum Krankenhausaufenthalt hält sich der Bewohner bzw. die Bewohnerin seit mindestens 21 Tagen vor dem aktuellen Stichtag nicht mehr in der Einrichtung auf, somit liegt ein Ausschlussgrund für den Bewohner bzw. die Bewohnerin in Bezug auf die aktuelle Erhebung vor"/>
					<das:rule_type value="ERROR"/>
					<das:rule_fields>
						<das:field value="EINZUGKHBEGINNDATUM"/>
						<das:field value="EINZUGKHENDEDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
		<xs:assert test="if(some $v in .//resident/qs_data_mds satisfies $v//AUSSCHLUSSGRUND/@value = 1 and $v//EINZUGSDATUM/@value &lt; (xs:date(.//target_date/@value) - xs:dayTimeDuration('P13D'))) then false() else true()">
			<xs:annotation>
				<xs:appinfo>
					<das:rule_id value="70066"/>
					<das:rule_text value="Im Datenfeld 'Ausschlussgrund' ist [1] = 'Einzugsdatum liegt weniger als 14 Tage vor dem Stichtag' angegeben aber das Datum im Datenfeld 'Datum des Einzugs (Beginn der vollstationären Versorgung)' liegt genau 14 Tage oder länger vor dem aktuellen Stichtag, somit liegt kein Ausschlussgrund für den Bewohner bzw. die Bewohnerin in Bezug auf die aktuelle Erhebung vor"/>
					<das:rule_type value="ERROR"/>
					<das:rule_fields>
						<das:field value="AUSSCHLUSSGRUND"/>
						<das:field value="EINZUGSDATUM"/>
					</das:rule_fields>
				</xs:appinfo>
			</xs:annotation>
		</xs:assert>
	</xs:complexType>
</xs:schema>
